<div class="main-div">

  <div class="top-div">
    <button class="crossHor" (click)="alertHorizontal()" disabled>Пресечи</button>
    <div class="horizontal-div">
      <div class="redHor"></div>
      <div class="yellowHor"></div>
      <div class="greenHor"></div>
    </div>
  </div>

  <div class="douvle-divs">
    <div class="left-div">
      <button class="crossVer" (click)="alertVertical()">Пресечи</button>
      <div class="vertical-div">
        <div class="redVer"></div>
        <div class="yellowVer"></div>
        <div class="greenVer"></div>
      </div>
    </div>
    <div class="center-div">
      <button class="problem-btn" (click)="problemTimer()">Авария</button>
    </div>
    <div class="right-div">
      <button class="crossVer" (click)="alertVertical()">Пресечи</button>
      <div class="vertical-div">
        <div class="redVer"></div>
        <div class="yellowVer"></div>
        <div class="greenVer"></div>
      </div>
    </div>

  </div>

  <div class="bottom-div">
    <button class="crossHor" (click)="alertHorizontal()" disabled>Пресечи</button>
    <div class="horizontal-div">
      <div class="redHor"></div>
      <div class="yellowHor"></div>
      <div class="greenHor"></div>
    </div>
  </div>

  <button (click)="startTimer()">Start Timer</button>

  <p>{{ timeLeft }} Seconds Left....</p>





</div>